
/*Force correct resolution of relative image*/
@property --bg-img {
  syntax: "<url>";
  initial-value: url("");
  inherits: true;
}


:root {
    color-scheme: only light;
    --3d-highlight: rgb(248 248 248);
    --3d-shadow: rgb(218 218 218);
    --bg-img: url(./seamless-pool-water-surface-1699261210dwY.jpg);
    --bg: linear-gradient(175deg, rgba(255, 255, 255, 0) 7vh, rgb(255 255 255 / 4%) 30vh, rgb(255 255 255 / 58%) 70vh, rgb(0 0 0 / 0%) 80vh), linear-gradient(126deg, rgba(255, 255, 255, 0) 7%, rgba(255, 255, 255, 0.1282528011204482) 30%, rgb(255 255 255 / 45%) 40%, rgb(171 176 219 / 39%) 90%), var(--bg-img);
    --box-bg: #a6f2ffd4;
    --accent-color: #36ae3f;
    --highlight-color: #608fdc;
    --control-bg: #c3eee6f5;
    --concave-item-box-shadow: inset 0px 0px 4px 3px #63a4dc7d;
    --heading-text-shadow: 1px 1px #81e0c7;
}

@font-face {
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    src: url('themes/fonts/Ovo-Regular.ttf');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

.window {
    backdrop-filter: blur(2px);
}

:is(.card, .window)>:is(header, footer) {
    background: var(--convex-item-bg);
}


.tool-bar {
    box-shadow: none;
}